@charset "UTF-8";
@import "bootstrap.css";
@import "fonts.css";
@import "swiper.css";
@import "animation.css";
@import "preloader.css";

.vide_bg {
    width: 100%;
}

.vide_bg .container {
    position: relative;
    z-index: 2;
}

.video-bg-overlay {
    position: relative;
}

.video-bg-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

